#output
{
margin-left: 50px;}

button{width:100px; height: 30px;
 }

#input{margin-left: 100px; height: 30px;
  }

#login{width:100%; height: 100%; position:fixed;background-color:white;}

h1{font-family: Arial;
font-size: large;}

.message{
    font-family: Arial;
    background-color: rgb(49, 118, 245);
    border-radius: 20px;
    width:fit-content;
    padding: 10px;
}

.yourmessage{
    font-family: Arial;
    background-color: rgb(163, 211, 255);
    border-radius: 20px;
    width:fit-content;
    padding: 10px;
    margin-left: 350px;
}


   .checkbox-wrapper-3 {
    margin-top: 9px;
   }


  .checkbox-wrapper-3 input[type="checkbox"] {
    visibility: hidden;
    display: none;
    
  }

  .checkbox-wrapper-3 .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-3 .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
  }
  .checkbox-wrapper-3 .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-3 .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgb(49, 118, 245);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
  }

  .checkbox-wrapper-3 #img:checked + .toggle:before {
    background: rgb(139, 196, 250);
  }
  .checkbox-wrapper-3 #img:checked + .toggle span {
    background: rgb(163, 211, 255);
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
  }
  .checkbox-wrapper-3 #img:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
  }

  #inputs{
    display: flex;
    flex-direction: row;
  }
